<div class="mt-5">
<div class="about-section paddingTB60 gray-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-6">
        <div class="about-title clearfix">
          <h1>About
            <span>Hi-Tek</span>
          </h1>
          <h3>The best Electronics Online Shop </h3>
          <p class="about-paddingB">Founded in 2018. We sell Laptops, Tablets, Smartphones and more.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          <p> Ut enim ad minim veniam, quis nostrud exercitation ullamco laborissed lobortis pulvinar. Integer laoreet mi id eros porta euismod. Suspendisse potenti. 
            Nulla eros mauris, convallis et sem tempus, viverra hendrerit sapien</p>
          <div class="about-icons">
            <ul>
              <li>
                <a href="https://www.facebook.com/">
                  <i id="social-fb" class="fa fa-facebook-square fa-3x social"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/">
                  <i id="social-tw" class="fa fa-twitter-square fa-3x social"></i>
                </a>
              </li>
              <li>
                <a href="https://plus.google.com/">
                  <i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i id="social-em" class="fa fa-envelope-square fa-3x social"></i>
                </a>
              </li>
            </ul>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>